.container {
    display: flex;
    height: fit-content;
    min-height: 550px;
}

.item {
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px;
    border-radius: 30px;
}

.label-cont {
    justify-content: center;
}

#cont1 {
    height: 30px;
    display: flex;
    justify-content: space-around;
}

#cont2 {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.btn {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    height: 40px;
    min-width: 0;
    max-width: 100px;
    outline: none;
    padding: 0px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms
    cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.btn:disabled {
    pointer-events: none;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.input {
     max-width: 200px;
     min-height: 20px;
     max-height: 20px;
     padding: 10px;
     font-family: 'Courier New', Courier, monospace;
     outline: none;
     background: #e8e8e8;
     box-shadow: 5px 5px 17px #c8c8c8,
     -5px -5px 17px #ffffff;
     border: none;
     border-radius: 10px;
     transition: all .5s;
 }

.input:focus {
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c8c8c8,
    inset -5px -5px 17px #ffffff;
}

.label {
    display: block;
    justify-self: center;
    max-width: 200px;
    min-height: 20px;
    max-height: 20px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 17px #c8c8c8,
    -5px -5px 17px #ffffff;
    border: none;
    border-radius: 10px;
    transition: all .5s;
    text-align: center;
}

.chart {
    width:400px;
    height:400px;
    justify-self: center;
    display: block;
}